"*":
  "atom-autocomplete-php": {}
  "atom-ctags":
    extraTagFiles: "tags"
  "atom-fuzzy-grep":
    detectGitProjectAndUseGitGrep: false
    escapeSelectedText: true
    grepCommandString: "rg -i -n -H --no-heading --column"
    minSymbolsToStartSearch: 5
    showFullPath: true
  "atom-lupa": {}
  "atom-material-ui":
    fonts:
      fontSize: 12
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      animations: false
      panelContrast: true
      panelShadows: true
  "atom-terminal-panel": {}
  "atom-ternjs":
    useSnippets: true
    useSnippetsAndFunction: true
  "autoclose-html":
    additionalGrammars: [
      "Smarty"
    ]
  "autocomplete-ctags":
    maximumTagFileSize: 100
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "enter"
    scopeBlacklist: [
      ".comment"
    ]
    useCoreMovementCommands: false
  autoprefixer: {}
  autosave:
    enabled: true
  clock:
    format: false
    icon: true
  core:
    allowPendingPaneItems: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "project-plus"
      "language-bison"
      "php-debug"
      "vim-surround"
      "language-gfm"
    ]
    ignoredNames: [
      ".git"
      "*.min*"
      "**/node_modules/**"
      "**/vendor/**"
      "**/.tmp/**"
      "*img/*"
      "*.png"
      "*.gif"
      "*.jpg"
      "*.jpeg"
    ]
    packagesWithKeymapsDisabled: [
      "autocomplete-ctags"
      "editorconfig"
      "terminal-plus"
      "git-grep-provider"
      "merge-conflicts"
      "phpunit"
      "git-plus"
      "yoceanic-next-syntax"
      "atom-lupa"
      "platformio-ide-terminal"
      "term3"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  docblockr:
    return_tag: "@returns"
  "easy-motion-redux": {}
  editor:
    fontSize: 9
    invisibles: {}
    lineHeight: 1.75
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  emmet: {}
  "ex-mode":
    splitbelow: true
    splitright: true
  "file-icons":
    forceShow: true
  "file-types":
    tmpl: "source.smarty"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace": {}
  "fuzzy-finder": {}
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "git-plus": {}
  "go-plus":
    currentPanelHeight: "31.555555555555554vh"
    panelDisplayMode: "closed"
    panelFontSize: "1em"
    test:
      runTestsOnSave: false
  "highlight-selected":
    highlightInPanes: false
  "hyperlink-hyperclick":
    protocols: [
      "http"
      "https"
    ]
  "incremental-search":
    cancelSearchOnBlur: true
    instantSearch: true
    landAtPointInsteadOfRange: true
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".node"
      ".jsx"
    ]
  jumpy: {}
  "language-babel": {}
  "lazy-motion": {}
  linter:
    gutterPosition: "Left"
    lintOnChange: false
    lintOnFly: false
    showErrorPanel: true
    showErrorTabLine: true
  "linter-eslint":
    disableEslintIgnore: true
    disableWhenNoEslintConfig: false
    globalNodePath: "/usr/local"
  "linter-php": {}
  "linter-ui-default":
    panelRepresents: "Entire Project"
    showProviderName: true
    tooltipFollows: "Keyboard"
  "merge-conflicts": {}
  "mocha-runner": {}
  "mocha-test-runner": {}
  "node-debugger":
    debugPort: 14919
    nodePath: "/Users/vshen/.nvm/v0.10.32/bin/node"
  nuclide:
    installRecommendedPackages: true
    "nuclide-arcanist": {}
    "nuclide-buck-files": {}
    "nuclide-clang-atom": {}
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-debugger-hhvm": {}
    "nuclide-flow": {}
    "nuclide-format-js": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-ios-simulator-logs": {}
    "nuclide-ocaml": {}
    "nuclide-output": {}
    "nuclide-react-native": {}
    "nuclide-working-sets": {}
  pigments:
    supportedFiletypes: [
      "*.css"
    ]
  "platformio-ide-terminal":
    style:
      animationSpeed: 1000
      defaultPanelHeight: "40%"
      theme: "dracula"
  "project-manager":
    closeCurrent: true
  "project-plus": {}
  react:
    enabledForAllJavascriptFiles: true
  tabs:
    enableVcsColoring: true
  term3:
    fontFamily: "'Source Code Pro for Powerline'"
    openPanesInSameSplit: true
  "terminal-panel":
    logConsole: true
    overrideLs: false
  "terminal-plus":
    core:
      scrollback: 10000
    style:
      animationSpeed: 1000000
      defaultPanelHeight: "500px"
      theme: "dracula"
    toggles:
      cursorBlink: false
  "tool-bar":
    visible: false
  "vim-mode":
    useClipboardAsDefaultRegister: false
  "vim-mode-plus":
    flashOnOperate: false
    flashOnSearch: false
    flashOnUndoRedo: false
    highlightSearch: true
    incrementalSearch: true
    incrementalSearchVisitDirection: "relative"
    stayOnYank: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".ansi.text":
  editor:
    tabLength: 4
".bison.source":
  editor:
    tabLength: 4
".hack.html.text":
  editor:
    tabLength: 4
".hackfragment.source":
  editor:
    tabLength: 4
".hg-commit.text":
  editor:
    tabLength: 4
".smarty.source":
  editor:
    tabLength: 4
